@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "PFDinDisplayProMedium";
  src: url("../fonts/PFDinDisplayPro/PFDinDisplayPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "PFDinDisplayProLight";
  src: url("../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.container {
  margin: 0 auto;
  text-align: center; }

.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }

.container::after,
.clearfix::after {
  clear: both; }

.wrapper {
  overflow: hidden; }

header {
  background: url("../images/header.png") no-repeat;
  background-size: cover; }
  header nav ul {
    list-style: none;
    margin-top: 10px; }
    header nav ul.navbar-left {
      float: left; }
      header nav ul.navbar-left li {
        display: inline-block;
        padding-left: 38px; }
        header nav ul.navbar-left li a {
          color: #000000;
          font-family: HelveticaLight, sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
          text-decoration: underline; }
          header nav ul.navbar-left li a:hover {
            text-decoration: none; }
    header nav ul.navbar-right li {
      display: inline-block;
      margin-left: 10px; }
      header nav ul.navbar-right li:first-child {
        margin-left: 290px; }
      header nav ul.navbar-right li a {
        color: #000000;
        font-family: HelveticaRegular, sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none; }
      header nav ul.navbar-right li.icon-fb {
        border-radius: 50%;
        padding: 14px 20px 8px;
        border: 2px solid #04bde5;
        transition: .2s linear; }
        header nav ul.navbar-right li.icon-fb a {
          color: #000000;
          font-family: HelveticaBold, sans-serif;
          font-size: 30px;
          font-weight: 700;
          line-height: 28px; }
        header nav ul.navbar-right li.icon-fb:hover {
          background-color: #04bde5; }
          header nav ul.navbar-right li.icon-fb:hover a {
            color: #fff; }
      header nav ul.navbar-right li.icon-store {
        border-radius: 50%;
        padding: 7px 9px 8px;
        border: 2px solid #04bde5;
        transition: .2s linear;
        background-color: #04bde5; }
        header nav ul.navbar-right li.icon-store:hover {
          border: 2px solid #05dce5;
          background-color: #05dce5; }
        header nav ul.navbar-right li.icon-store a p {
          top: -13px;
          right: 320px;
          border-radius: 69%;
          padding: 0 5px 0;
          border: 1px solid #e50404;
          background-color: #e50404;
          position: absolute;
          color: #ffffff;
          font-family: HelveticaMedium, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px; }
      header nav ul.navbar-right li.icon-phone {
        border-radius: 50%;
        padding: 11px 12px 9px;
        border: 2px solid #000000;
        transition: .2s linear; }
        header nav ul.navbar-right li.icon-phone:hover {
          border: 2px solid #04bde5;
          background-color: #04bde5; }
  header div.logo {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 257px; }
    header div.logo p {
      color: #000000;
      font: 100 70px/27px HelveticaBold, sans-serif; }
      header div.logo p span {
        font-family: HelveticaThin, sans-serif;
        font-weight: 100; }
        header div.logo p span:first-child {
          padding: 10px 5px 0;
          background-color: #fff;
          font: 100 70px/27px HelveticaBold, sans-serif;
          border-bottom: 10px solid #04bde5; }
      header div.logo p:last-child {
        color: #6b6b6b;
        font: 300 20px/23px HelveticaLight, sans-serif; }
  header div.mouse {
    position: absolute;
    bottom: 35px;
    left: 705px; }
    header div.mouse a {
      content: '.';
      border-radius: 40%;
      border: 2px solid #000;
      padding: 10px; }

footer {
  height: 220px;
  background-color: #373737; }
  footer div {
    margin: 5px 50px; }
    footer div .house {
      width: 30%;
      float: left;
      text-align: left; }
      footer div .house p {
        font: 500 14px/10px PFDinDisplayProMedium, sans-serif;
        color: #949494; }
        footer div .house p:first-child {
          font: 300 16px/24px PFDinDisplayProLight, sans-serif; }
    footer div .address {
      width: 23%;
      float: left;
      text-align: left; }
      footer div .address p {
        font: 500 14px/10px PFDinDisplayProMedium, sans-serif;
        color: #949494; }
        footer div .address p:first-child {
          font: 300 16px/20px PFDinDisplayProLight, sans-serif; }
        footer div .address p.copyright {
          font-size: 12px;
          font-weight: 300;
          line-height: 28px;
          padding-top: 33px; }
    footer div .email {
      width: 22%;
      float: left;
      text-align: left; }
      footer div .email p {
        font: 500 14px/10px PFDinDisplayProMedium, sans-serif;
        color: #949494; }
        footer div .email p:first-child {
          font: 300 16px/28px PFDinDisplayProLight, sans-serif; }

main {
  background-color: #ffffff;
  margin-bottom: 50px; }

.words {
  margin: 0 80px 50px 80px; }
  .words table tbody tr td {
    padding-left: 19px;
    padding-top: 40px;
    text-align: left; }
    .words table tbody tr td:nth-child(even) a {
      color: #000000;
      font-family: HelveticaRegular, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      text-decoration: underline; }
      .words table tbody tr td:nth-child(even) a:hover {
        text-decoration: none; }
    .words table tbody tr td:nth-child(odd) a {
      padding: 8px 10px;
      border: 1px solid #c6c6c6;
      color: #000000;
      font-family: HelveticaBold, sans-serif;
      font-size: 25px;
      font-weight: 700;
      line-height: 25px;
      text-transform: uppercase;
      text-decoration: none; }
      .words table tbody tr td:nth-child(odd) a:hover {
        color: #fff;
        background-color: #000; }

.bikes {
  margin: 0 80px 50px 80px; }
  .bikes div .grid {
    width: 100%; }
    .bikes div .grid .item {
      display: inline-block; }
      .bikes div .grid .item a {
        text-decoration: none; }
        .bikes div .grid .item a img {
          transition: 0.2s; }
          .bikes div .grid .item a img:hover {
            -webkit-filter: brightness(50%);
            filter: brightness(50%); }
        .bikes div .grid .item a .text {
          margin-top: -340px;
          padding-left: 20px;
          position: absolute; }
          .bikes div .grid .item a .text p {
            text-align: left;
            color: #606060;
            font: 300 16px/20px HelveticaLight, sans-serif; }
            .bikes div .grid .item a .text p:last-child {
              margin-top: 0; }
              .bikes div .grid .item a .text p:last-child.text-black {
                font: 100 31px/20px HelveticaLight, sans-serif;
                color: #000000; }
                .bikes div .grid .item a .text p:last-child.text-black span {
                  font: 700 31px HelveticaBold, sans-serif; }
              .bikes div .grid .item a .text p:last-child.text-white {
                font: 100 31px/20px HelveticaLight, sans-serif;
                color: white; }
                .bikes div .grid .item a .text p:last-child.text-white span {
                  font: 700 31px HelveticaBold, sans-serif; }

.your-body {
  margin: 0 80px 0 80px; }
  .your-body div h3 {
    text-align: left;
    color: #000000;
    font: 300 34px/27px HelveticaLight, sans-serif; }
  .your-body div p {
    text-align: left;
    color: #545353;
    font: 400 15px/19px HelveticaRegular, sans-serif; }
  .your-body div img {
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    width: 49%;
    display: inline-block;
    float: left; }
    .your-body div img.img-your-body {
      -webkit-filter: brightness(50%);
      filter: brightness(50%); }

main .your-body div a {
  position: relative;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 30px;
  transition: .2s linear; }
  main .your-body div a.your-body-1 {
    right: 200px;
    bottom: 185px;
    color: #000;
    font: 400 20px/28px HelveticaRegular, sans-serif;
    border: 2px solid #000000; }
    main .your-body div a.your-body-1:hover {
      border: 2px solid #04bde5;
      color: #04bde5; }
  main .your-body div a.your-body-2 {
    left: 205px;
    bottom: 185px;
    color: #fff;
    font: 700 20px/28px HelveticaBold, sans-serif;
    border: 2px solid #fff; }
    main .your-body div a.your-body-2:hover {
      border: 2px solid #04bde5;
      color: #04bde5; }

main .bikes div .grid .item div a.btn-blue {
  margin-top: -245px;
  margin-left: -270px;
  position: absolute;
  border-radius: 18px;
  border: 2px solid #04bde5;
  padding: 7px 20px;
  text-decoration: none;
  transition: .9s linear;
  color: #000000;
  font: 700 18px/20px HelveticaLight, sans-serif; }
  main .bikes div .grid .item div a.btn-blue span {
    font-size: 18px;
    font-weight: 100; }
  main .bikes div .grid .item div a.btn-blue:hover {
    margin-top: -200px; }

main .bikes div .grid .item div a.btn-black {
  margin-top: -245px;
  margin-left: -130px;
  position: absolute;
  border-radius: 18px;
  border: 2px solid #000;
  padding: 7px 20px;
  text-decoration: none;
  transition: .2s linear;
  color: #000000;
  font: 700 18px/20px HelveticaLight, sans-serif; }
  main .bikes div .grid .item div a.btn-black span {
    font-size: 18px;
    font-weight: 100; }

main .bikes div .grid .item div a.btn-white {
  margin-top: -245px;
  margin-left: -130px;
  position: absolute;
  border-radius: 18px;
  border: 2px solid #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: .2s linear;
  color: #000000;
  font: 700 18px/20px HelveticaLight, sans-serif; }
  main .bikes div .grid .item div a.btn-white span {
    font-size: 18px;
    font-weight: 100; }

@media screen and (min-width: 320px) and (max-width: 374px) {
  main .bikes div .grid .item div a.btn-blue {
    margin-top: -100px;
    margin-left: -140px; }
  main .bikes div .grid .item div a.btn-black {
    margin-top: -95px;
    margin-left: -135px; }
  main .bikes div .grid .item div a.btn-white {
    margin-top: -100px;
    margin-left: -140px; }
  main .your-body div a {
    position: relative;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s linear; }
    main .your-body div a.your-body-1 {
      font: 400 15px/28px HelveticaRegular, sans-serif;
      border: 2px solid #000000;
      right: 0;
      left: 65px;
      bottom: 300px; }
    main .your-body div a.your-body-2 {
      font: 700 15px/28px HelveticaBold, sans-serif;
      border: 2px solid #fff;
      left: -65px;
      bottom: 100px; } }

@media screen and (min-width: 375px) and (max-width: 424px) {
  main .bikes div .grid .item div a.btn-blue {
    margin-top: -100px;
    margin-left: -165px; }
  main .bikes div .grid .item div a.btn-black {
    margin-top: -95px;
    margin-left: -165px; }
  main .bikes div .grid .item div a.btn-white {
    margin-top: -100px;
    margin-left: -165px; }
  main .your-body div a {
    position: relative;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s linear; }
    main .your-body div a.your-body-1 {
      font: 400 15px/28px HelveticaRegular, sans-serif;
      border: 2px solid #000000;
      right: 0;
      left: 65px;
      bottom: 300px; }
    main .your-body div a.your-body-2 {
      font: 700 15px/28px HelveticaBold, sans-serif;
      border: 2px solid #fff;
      left: -65px;
      bottom: 100px; } }

@media screen and (min-width: 425px) and (max-width: 767px) {
  main .bikes div .grid .item div a.btn-blue {
    margin-top: -100px;
    margin-left: -190px; }
  main .bikes div .grid .item div a.btn-black {
    margin-top: -95px;
    margin-left: -190px; }
  main .bikes div .grid .item div a.btn-white {
    margin-top: -100px;
    margin-left: -190px; }
  main .your-body div a {
    position: relative;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s linear; }
    main .your-body div a.your-body-1 {
      right: 0;
      left: 100px;
      bottom: 380px; }
    main .your-body div a.your-body-2 {
      left: -100px;
      bottom: 120px; } }

@media screen and (min-width: 768px) and (max-width: 960px) {
  main .your-body div a.your-body-1 {
    left: 100px;
    right: 0;
    bottom: 590px; }
  main .your-body div a.your-body-2 {
    left: -100px;
    bottom: 185px; } }

main .your-body div a {
  position: relative;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 30px;
  transition: .2s linear; }
  main .your-body div a.your-body-1 {
    right: 200px;
    bottom: 185px;
    color: #000;
    font: 400 20px/28px HelveticaRegular, sans-serif;
    border: 2px solid #000000; }
    main .your-body div a.your-body-1:hover {
      border: 2px solid #04bde5;
      color: #04bde5; }
  main .your-body div a.your-body-2 {
    left: 205px;
    bottom: 185px;
    color: #fff;
    font: 700 20px/28px HelveticaBold, sans-serif;
    border: 2px solid #fff; }
    main .your-body div a.your-body-2:hover {
      border: 2px solid #04bde5;
      color: #04bde5; }

main .bikes div .grid .item div a.btn-blue {
  margin-top: -245px;
  margin-left: -270px;
  position: absolute;
  border-radius: 18px;
  border: 2px solid #04bde5;
  padding: 7px 20px;
  text-decoration: none;
  transition: .9s linear;
  color: #000000;
  font: 700 18px/20px HelveticaLight, sans-serif; }
  main .bikes div .grid .item div a.btn-blue span {
    font-size: 18px;
    font-weight: 100; }
  main .bikes div .grid .item div a.btn-blue:hover {
    margin-top: -200px; }

main .bikes div .grid .item div a.btn-black {
  margin-top: -245px;
  margin-left: -130px;
  position: absolute;
  border-radius: 18px;
  border: 2px solid #000;
  padding: 7px 20px;
  text-decoration: none;
  transition: .2s linear;
  color: #000000;
  font: 700 18px/20px HelveticaLight, sans-serif; }
  main .bikes div .grid .item div a.btn-black span {
    font-size: 18px;
    font-weight: 100; }

main .bikes div .grid .item div a.btn-white {
  margin-top: -245px;
  margin-left: -130px;
  position: absolute;
  border-radius: 18px;
  border: 2px solid #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: .2s linear;
  color: #000000;
  font: 700 18px/20px HelveticaLight, sans-serif; }
  main .bikes div .grid .item div a.btn-white span {
    font-size: 18px;
    font-weight: 100; }

@media screen and (min-width: 320px) and (max-width: 374px) {
  main .bikes div .grid .item div a.btn-blue {
    margin-top: -100px;
    margin-left: -140px; }
  main .bikes div .grid .item div a.btn-black {
    margin-top: -95px;
    margin-left: -135px; }
  main .bikes div .grid .item div a.btn-white {
    margin-top: -100px;
    margin-left: -140px; }
  main .your-body div a {
    position: relative;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s linear; }
    main .your-body div a.your-body-1 {
      font: 400 15px/28px HelveticaRegular, sans-serif;
      border: 2px solid #000000;
      right: 0;
      left: 65px;
      bottom: 300px; }
    main .your-body div a.your-body-2 {
      font: 700 15px/28px HelveticaBold, sans-serif;
      border: 2px solid #fff;
      left: -65px;
      bottom: 100px; } }

@media screen and (min-width: 375px) and (max-width: 424px) {
  main .bikes div .grid .item div a.btn-blue {
    margin-top: -100px;
    margin-left: -165px; }
  main .bikes div .grid .item div a.btn-black {
    margin-top: -95px;
    margin-left: -165px; }
  main .bikes div .grid .item div a.btn-white {
    margin-top: -100px;
    margin-left: -165px; }
  main .your-body div a {
    position: relative;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s linear; }
    main .your-body div a.your-body-1 {
      font: 400 15px/28px HelveticaRegular, sans-serif;
      border: 2px solid #000000;
      right: 0;
      left: 65px;
      bottom: 300px; }
    main .your-body div a.your-body-2 {
      font: 700 15px/28px HelveticaBold, sans-serif;
      border: 2px solid #fff;
      left: -65px;
      bottom: 100px; } }

@media screen and (min-width: 425px) and (max-width: 767px) {
  main .bikes div .grid .item div a.btn-blue {
    margin-top: -100px;
    margin-left: -190px; }
  main .bikes div .grid .item div a.btn-black {
    margin-top: -95px;
    margin-left: -190px; }
  main .bikes div .grid .item div a.btn-white {
    margin-top: -100px;
    margin-left: -190px; }
  main .your-body div a {
    position: relative;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s linear; }
    main .your-body div a.your-body-1 {
      right: 0;
      left: 100px;
      bottom: 380px; }
    main .your-body div a.your-body-2 {
      left: -100px;
      bottom: 120px; } }

@media screen and (min-width: 768px) and (max-width: 960px) {
  main .your-body div a.your-body-1 {
    left: 100px;
    right: 0;
    bottom: 590px; }
  main .your-body div a.your-body-2 {
    left: -100px;
    bottom: 185px; } }

@media screen and (min-width: 320px) and (max-width: 374px) {
  body {
    height: 1060px; }
  /*=====header=====*/
  header {
    background: url("../images/header.png") repeat -625px;
    background-size: cover; }
    header nav ul {
      list-style: none;
      margin-top: 10px; }
      header nav ul.navbar-left {
        float: left; }
        header nav ul.navbar-left li {
          display: inline-block;
          padding-left: 0; }
          header nav ul.navbar-left li a {
            color: #000000;
            font-family: HelveticaLight, sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-decoration: underline; }
            header nav ul.navbar-left li a:hover {
              text-decoration: none; }
      header nav ul.navbar-right li:first-child {
        margin-left: 0; }
      header nav ul.navbar-right li.icon-store a p {
        top: 35px;
        right: 109px; }
    header div.logo {
      float: left;
      margin-top: 50px;
      margin-left: 5px;
      margin-bottom: 190px; }
      header div.logo p {
        color: #000000;
        font: 100 40px/27px HelveticaBold, sans-serif; }
        header div.logo p span {
          font-family: HelveticaThin, sans-serif;
          font-weight: 100; }
          header div.logo p span:first-child {
            padding: 10px 5px 0;
            background-color: #fff;
            font: 100 40px/27px HelveticaBold, sans-serif;
            border-bottom: 10px solid #04bde5; }
        header div.logo p:last-child {
          color: #6b6b6b;
          font: 300 18px/23px HelveticaLight, sans-serif; }
    header div.mouse {
      left: 165px; }
  /*=====main=====*/
  main .words {
    margin: 0 10px 50px 10px; }
    main .words table tbody tr td {
      display: inline-block;
      padding-left: 0;
      padding-top: 25px;
      text-align: left;
      width: 91%;
      margin-left: -49px; }
  main .bikes {
    margin: 0 80px 50px 80px; }
    main .bikes div .grid {
      margin-left: -77px;
      width: 100%; }
      main .bikes div .grid .item {
        display: inline-block; }
        main .bikes div .grid .item a {
          text-decoration: none; }
          main .bikes div .grid .item a img {
            width: 315px; }
          main .bikes div .grid .item a .text {
            margin-top: -180px;
            padding-left: 20px;
            position: absolute; }
            main .bikes div .grid .item a .text p {
              text-align: left;
              color: #606060;
              font: 300 16px/20px HelveticaLight, sans-serif; }
              main .bikes div .grid .item a .text p:last-child {
                margin-top: 0; }
                main .bikes div .grid .item a .text p:last-child.text-black {
                  font: 100 21px/20px HelveticaLight, sans-serif;
                  color: #000000; }
                  main .bikes div .grid .item a .text p:last-child.text-black span {
                    font: 700 21px HelveticaBold, sans-serif; }
                main .bikes div .grid .item a .text p:last-child.text-white {
                  font: 100 21px/20px HelveticaLight, sans-serif;
                  color: white; }
                  main .bikes div .grid .item a .text p:last-child.text-white span {
                    font: 700 21px HelveticaBold, sans-serif; }
  main .your-body {
    margin: 0 10px 0 10px; }
    main .your-body div h3 {
      text-align: left;
      color: #000000;
      font: 300 26px/24px HelveticaLight, sans-serif; }
    main .your-body div p {
      text-align: left;
      color: #545353;
      font: 400 12px/19px HelveticaRegular, sans-serif; }
    main .your-body div img {
      margin-top: 20px;
      margin-left: 0;
      width: 100%; }
  /*=====footer=====*/
  footer {
    height: 328px;
    background-color: #373737; }
    footer div {
      margin: 0 10px; }
      footer div .house {
        width: 100%;
        float: left;
        text-align: left; }
        footer div .house p {
          font: 500 12px/10px PFDinDisplayProMedium, sans-serif;
          color: #949494; }
          footer div .house p:first-child {
            font: 300 14px/24px PFDinDisplayProLight, sans-serif; }
      footer div .address {
        width: 100%;
        float: left;
        text-align: left; }
        footer div .address p {
          font: 500 12px/10px PFDinDisplayProMedium, sans-serif;
          color: #949494; }
          footer div .address p:first-child {
            font: 300 14px/20px PFDinDisplayProLight, sans-serif; }
          footer div .address p.copyright {
            padding-top: 0; }
      footer div .email {
        width: 100%;
        float: left;
        text-align: left; }
        footer div .email p {
          font: 500 12px/10px PFDinDisplayProMedium, sans-serif;
          color: #949494; }
          footer div .email p:first-child {
            font: 300 14px/28px PFDinDisplayProLight, sans-serif; } }

@media screen and (min-width: 375px) and (max-width: 424px) {
  body {
    height: 1060px; }
  /*=====header=====*/
  header {
    background: url("../images/header.png") repeat -625px;
    background-size: cover; }
    header nav ul {
      list-style: none;
      margin-top: 10px; }
      header nav ul.navbar-left {
        float: left; }
        header nav ul.navbar-left li {
          display: inline-block;
          padding-left: 0; }
          header nav ul.navbar-left li a {
            color: #000000;
            font-family: HelveticaLight, sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-decoration: underline; }
            header nav ul.navbar-left li a:hover {
              text-decoration: none; }
      header nav ul.navbar-right li:first-child {
        margin-left: 0; }
      header nav ul.navbar-right li.icon-fb {
        margin-left: 50px; }
      header nav ul.navbar-right li.icon-store a p {
        top: 35px;
        right: 109px; }
    header div.logo {
      float: left;
      margin-top: 50px;
      margin-left: 5px;
      margin-bottom: 200px; }
      header div.logo p {
        color: #000000;
        font: 100 40px/27px HelveticaBold, sans-serif; }
        header div.logo p span {
          font-family: HelveticaThin, sans-serif;
          font-weight: 100; }
          header div.logo p span:first-child {
            padding: 10px 5px 0;
            background-color: #fff;
            font: 100 40px/27px HelveticaBold, sans-serif;
            border-bottom: 10px solid #04bde5; }
        header div.logo p:last-child {
          color: #6b6b6b;
          font: 300 18px/23px HelveticaLight, sans-serif; }
    header div.mouse {
      left: 165px; }
  /*=====main=====*/
  main .words {
    margin: 0 80px 50px 80px; }
    main .words table tbody tr td {
      display: inline-block;
      padding-left: 0;
      padding-top: 25px;
      text-align: left;
      width: 34%;
      margin-left: 0px; }
  main .bikes {
    margin: 0 80px 50px 80px; }
    main .bikes div .grid {
      margin-left: -77px;
      width: 100%; }
      main .bikes div .grid .item {
        display: inline-block; }
        main .bikes div .grid .item a {
          text-decoration: none; }
          main .bikes div .grid .item a img {
            width: 365px; }
          main .bikes div .grid .item a .text {
            margin-top: -180px;
            padding-left: 20px;
            position: absolute; }
            main .bikes div .grid .item a .text p {
              text-align: left;
              color: #606060;
              font: 300 16px/20px HelveticaLight, sans-serif; }
              main .bikes div .grid .item a .text p:last-child {
                margin-top: 0; }
                main .bikes div .grid .item a .text p:last-child.text-black {
                  font: 100 21px/20px HelveticaLight, sans-serif;
                  color: #000000; }
                  main .bikes div .grid .item a .text p:last-child.text-black span {
                    font: 700 21px HelveticaBold, sans-serif; }
                main .bikes div .grid .item a .text p:last-child.text-white {
                  font: 100 21px/20px HelveticaLight, sans-serif;
                  color: white; }
                  main .bikes div .grid .item a .text p:last-child.text-white span {
                    font: 700 21px HelveticaBold, sans-serif; }
  main .your-body {
    margin: 0 10px 0 10px; }
    main .your-body div h3 {
      text-align: left;
      color: #000000;
      font: 300 26px/24px HelveticaLight, sans-serif; }
    main .your-body div p {
      text-align: left;
      color: #545353;
      font: 400 12px/19px HelveticaRegular, sans-serif; }
    main .your-body div img {
      margin-top: 20px;
      margin-left: 0;
      width: 100%; }
  /*=====footer=====*/
  footer {
    height: 328px;
    background-color: #373737; }
    footer div {
      margin: 0 10px; }
      footer div .house {
        width: 100%;
        float: left;
        text-align: left; }
        footer div .house p {
          font: 500 12px/10px PFDinDisplayProMedium, sans-serif;
          color: #949494; }
          footer div .house p:first-child {
            font: 300 14px/24px PFDinDisplayProLight, sans-serif; }
      footer div .address {
        width: 100%;
        float: left;
        text-align: left; }
        footer div .address p {
          font: 500 12px/10px PFDinDisplayProMedium, sans-serif;
          color: #949494; }
          footer div .address p:first-child {
            font: 300 14px/20px PFDinDisplayProLight, sans-serif; }
          footer div .address p.copyright {
            padding-top: 0; }
      footer div .email {
        width: 100%;
        float: left;
        text-align: left; }
        footer div .email p {
          font: 500 12px/10px PFDinDisplayProMedium, sans-serif;
          color: #949494; }
          footer div .email p:first-child {
            font: 300 14px/28px PFDinDisplayProLight, sans-serif; } }

@media screen and (min-width: 425px) and (max-width: 767px) {
  body {
    height: 1060px; }
  /*=====header=====*/
  header {
    background: url("../images/header.png") repeat -625px;
    background-size: cover; }
    header nav ul {
      list-style: none;
      margin-top: 10px; }
      header nav ul.navbar-left {
        float: left; }
        header nav ul.navbar-left li {
          display: inline-block;
          padding-left: 0; }
          header nav ul.navbar-left li a {
            color: #000000;
            font-family: HelveticaLight, sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-decoration: underline; }
            header nav ul.navbar-left li a:hover {
              text-decoration: none; }
      header nav ul.navbar-right {
        float: left; }
        header nav ul.navbar-right li:first-child {
          margin-left: 0; }
        header nav ul.navbar-right li.icon-fb {
          margin-left: 0; }
        header nav ul.navbar-right li.icon-store a p {
          top: 35px;
          left: 141px;
          right: 265px;
          padding: 0 4px 0; }
    header div.logo {
      float: left;
      margin-top: 50px;
      margin-left: 9px;
      margin-bottom: 237px; }
      header div.logo p {
        color: #000000;
        font: 100 40px/27px HelveticaBold, sans-serif; }
        header div.logo p span {
          font-family: HelveticaThin, sans-serif;
          font-weight: 100; }
          header div.logo p span:first-child {
            padding: 10px 5px 0;
            background-color: #fff;
            font: 100 40px/27px HelveticaBold, sans-serif;
            border-bottom: 10px solid #04bde5; }
        header div.logo p:last-child {
          color: #6b6b6b;
          font: 300 18px/23px HelveticaLight, sans-serif; }
    header div.mouse {
      left: 165px; }
  /*=====main=====*/
  main .words {
    margin: 0 80px 50px 80px; }
    main .words table tbody tr td {
      display: inline-block;
      padding-top: 25px;
      text-align: left;
      width: 50%;
      margin-left: -60px; }
  main .bikes {
    margin: 0 80px 50px 80px; }
    main .bikes div .grid {
      margin-left: -77px;
      width: 100%; }
      main .bikes div .grid .item {
        display: inline-block; }
        main .bikes div .grid .item a {
          text-decoration: none; }
          main .bikes div .grid .item a img {
            width: 420px; }
          main .bikes div .grid .item a .text {
            margin-top: -180px;
            padding-left: 20px;
            position: absolute; }
            main .bikes div .grid .item a .text p {
              text-align: left;
              color: #606060;
              font: 300 16px/20px HelveticaLight, sans-serif; }
              main .bikes div .grid .item a .text p:last-child {
                margin-top: 0; }
                main .bikes div .grid .item a .text p:last-child.text-black {
                  font: 100 21px/20px HelveticaLight, sans-serif;
                  color: #000000; }
                  main .bikes div .grid .item a .text p:last-child.text-black span {
                    font: 700 21px HelveticaBold, sans-serif; }
                main .bikes div .grid .item a .text p:last-child.text-white {
                  font: 100 21px/20px HelveticaLight, sans-serif;
                  color: white; }
                  main .bikes div .grid .item a .text p:last-child.text-white span {
                    font: 700 21px HelveticaBold, sans-serif; }
  main .your-body {
    margin: 0 10px 0 10px; }
    main .your-body div h3 {
      text-align: left;
      color: #000000;
      font: 300 26px/24px HelveticaLight, sans-serif; }
    main .your-body div p {
      text-align: left;
      color: #545353;
      font: 400 12px/19px HelveticaRegular, sans-serif; }
    main .your-body div img {
      margin-top: 20px;
      margin-left: 0;
      width: 100%; }
  /*=====footer=====*/
  footer {
    height: 352px;
    background-color: #373737; }
    footer div {
      margin: 0 10px; }
      footer div .house {
        width: 100%;
        float: left;
        text-align: left; }
      footer div .address {
        width: 100%;
        float: left;
        text-align: left; }
        footer div .address p.copyright {
          padding-top: 0; }
      footer div .email {
        width: 100%;
        float: left;
        text-align: left; } }

@media screen and (min-width: 768px) and (max-width: 960px) {
  body {
    height: 1060px; }
  /*=====header=====*/
  header {
    background: url("../images/header.png") no-repeat -500px;
    background-size: cover; }
    header nav ul.navbar-left li {
      display: inline-block;
      padding-left: 1px; }
    header nav ul.navbar-right li:first-child {
      margin-left: 75px; }
    header nav ul.navbar-right li.icon-store a p {
      right: 225px; }
    header div.logo {
      float: left;
      margin-top: 70px;
      margin-left: 45px;
      margin-bottom: 257px; }
    header div.mouse {
      bottom: -40px;
      left: 375px; }
  /*=====main=====*/
  main .words {
    margin: 0 1px 50px 1px; }
    main .words table tbody tr td {
      padding-left: 14px; }
      main .words table tbody tr td:nth-child(even) a {
        font-size: 12px;
        line-height: 18px; }
      main .words table tbody tr td:nth-child(odd) a {
        font-size: 15px;
        line-height: 18px; }
  main .your-body {
    margin: 0 80px 0 80px; }
    main .your-body div img {
      width: 100%; }
  /*=====footer=====*/
  footer div {
    margin: 0 15px; }
    footer div .house {
      width: 35%;
      float: left;
      text-align: left; }
    footer div .address {
      width: 30%;
      float: left;
      text-align: left; }
      footer div .address p.copyright {
        padding-top: 0; }
    footer div .email {
      width: 20%;
      float: left;
      text-align: left; } }
