.bikes {
  margin: 0 80px 50px 80px;

  div {

    .grid {
      width: 100%;

      .item {
        display: inline-block;

        a {
          text-decoration: none;
          img {
            transition: 0.2s;

            &:hover {
              -webkit-filter: brightness(50%);
              filter: brightness(50%);
            }
          }

          .text {
            margin-top: -340px;
            padding-left: 20px;
            position: absolute;

            p {
              text-align: left;
              color: #606060;
              font: 300 16px/20px HelveticaLight, sans-serif;

              &:last-child {
                margin-top: 0;

                &.text-black {
                  font: 100 31px/20px HelveticaLight, sans-serif;
                  color: #000000;

                  span {
                    font: 700 31px HelveticaBold, sans-serif;
                  }
                }

                &.text-white {
                  font: 100 31px/20px HelveticaLight, sans-serif;
                  color: white;

                  span {
                    font: 700 31px HelveticaBold, sans-serif;
                  }
                }
              }
            }
          }
        }
      }
    }

  }
}