.words {
  margin: 0 80px 50px 80px;

  table {
    tbody {
      tr {

        td {
          padding-left: 19px;
          padding-top: 40px;
          text-align: left;

          &:nth-child(even) {
            a {
              color: #000000;
              font-family: HelveticaRegular, sans-serif;
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
          }

          &:nth-child(odd) {
            a {
              padding: 8px 10px;
              border: 1px solid #c6c6c6;
              color: #000000;
              font-family: HelveticaBold, sans-serif;
              font-size: 25px;
              font-weight: 700;
              line-height: 25px;
              text-transform: uppercase;
              text-decoration: none;

              &:hover {
                color: #fff;
                background-color: #000;
              }
            }
          }
        }
      }
    }
  }
}